<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/CSS/Style.css">
    <title>Perfil De Usuario</title>
</head>
<body>
    <header></header>
    <div id="Titulo"><h1>Jamba Juice</h1></div>
    <div>
        <a class="inicio" href="">Inicio</a>
    </div>
    <div id="imagend"><img src="../Static/Images/perfildeusuario.jpg" alt=""></div>
   <div class="lista1">
       <ul>
           <li><h1>Nombres</h1></li>
           <li><h1>Apellidos</h1></li>
           <li><h1>Correo electronico</h1></li>
       </ul>
   </div>
   <div class="Nombres"><p>Juan</p></div>
   <div class="Apellidos"><p>Lopez</p> </div>
   <div class="Correoelectronico"><p>JL@gmail.com</p></div>
   <div ><a href="" class="editar">Editar Usuario</a></div>
   <div><a href="" class="cerrar">Cerrar Sesion</a></div>
    
</body>
</html>