<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/CSS/Style2.css">
    <title>Lista de deseados</title>
</head>
<body>
    <header></header>
    <div id="Titulo"><h1>Jamba Juice</h1></div>
    <div>
        <a class="inicio" href="">Inicio</a>
    </div>
    <div ><a id="perfil" href="file:///C:/Users/User/Desktop/usuario/Templates/Index.html">Perfil</a></div>
    <div id="imagenjugo1"><img src="../Static/Images/descarga.png" alt=""></div>
    <div class="jugo1"><p>Manila. Es el número uno en la lista de favoritos por los consumidores. Su dulce sabor y textura suave sin fibras hace que sean inigualables. Su color amarillo canario y la finura de la pulpa los hace ideales para postres</p></div>
    <div  ><a href="" class="megusta"><img src="../Static/Images/Recurso 1.png" height="70"></a></div>
    <div><a href="" class="pedir">Pedir</a></div>
    <div id="imagenjugo2"><img src="../Static/Images/Jugo20de20Mora.png" height="250"></div>
    <div class="jugo2">´<p>la mora es buena para combatir la anemia por su contenido de hierro, que puede ayudar a mantener dientes y encías sanas cuando se consume en jugo sin azúcar y que igualmente el jugo de mora puede ayudar a ajar la fiebre por sus propiedades desinfectantes</p></div>
    <div  ><a href="" class="megusta2"><img src="../Static/Images/Recurso 1.png" height="70"></a></div>
    <div><a href="" class="pedir2">Pedir</a></div>
</body>
</html>